{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff                    {:git/url "https://github.com/jacobobryant/biff"
                                             :git/sha "ada149e"
                                             :git/tag "v1.8.2"
                                             :exclusions [com.xtdb/xtdb-core
                                                          com.xtdb/xtdb-rocksdb
                                                          com.xtdb/xtdb-jdbc]}
        com.biffweb/xtdb-mock               {:git/url "https://github.com/jacobobryant/biff"
                                             :git/sha "92d78a1"
                                             :git/tag "v0.7.18"
                                             :deps/root "libs/xtdb-mock"}
        com.github.seancorfield/next.jdbc   {:mvn/version "1.3.894"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        metosin/muuntaja                    {:mvn/version "0.6.8"}
        ring/ring-defaults                  {:mvn/version "0.3.4"}
        org.clojure/clojure                 {:mvn/version "1.11.1"}
        ring-cors/ring-cors                 {:mvn/version "0.1.13"}
        clj-commons/iapetos                 {:mvn/version "0.1.14"}

        dev.weavejester/medley {:mvn/version "1.8.0"
                                :why         "Functions we wish were in Clojure core"
                                :github      "https://github.com/weavejester/medley"}

        org.postgresql/postgresql         {:mvn/version "42.7.3"}

        com.zaxxer/HikariCP               {:mvn/version "5.1.0"
                                           :why         "Connection pool"
                                           :github      "https://github.com/brettwooldridge/HikariCP"}
        com.github.seancorfield/honeysql  {:mvn/version "2.6.1147"
                                           :why         "SQL queries as data"
                                           :github      "https://github.com/seancorfield/honeysql"}


        ;; org.slf4j/slf4j-api {:mvn/version "2.0.16"}
        ;; ch.qos.logback/logback-core {:mvn/version "1.2.10"} ;; Или последняя версия
        ;; ch.qos.logback/logback-classic {:mvn/version "1.2.10"} ;; Или последняя версия
        ;; com.github.loki4j/loki-logback-appender {:mvn/version "1.4.0"}
        ;; Notes on logging: https://gist.github.com/jacobobryant/76b7a08a07d5ef2cc076b048d078f1f3
        ;; org.slf4j/slf4j-simple     {:mvn/version "2.0.0-alpha5"}
        ;; org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
        ;; org.slf4j/jul-to-slf4j     {:mvn/version "1.7.36"}
        ;; org.slf4j/jcl-over-slf4j   {:mvn/version "1.7.36"}
        org.slf4j/slf4j-api                           {:mvn/version "2.0.9"}
        ch.qos.logback/logback-classic                {:mvn/version "1.4.11"}
        ;; net.logstash.logback/logstash-logback-encoder {:mvn/version "7.4"}
        ;; ch.codesmith/logger                           {:mvn/version "0.7.108"}
        ;; com.github.loki4j/loki-logback-appender {:mvn/version "1.5.2"}
        ;;
        ;; com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.7"}

        }
 :aliases
 {:dev {:extra-deps {com.biffweb/tasks {:git/url "https://github.com/jacobobryant/biff",
                                        :git/sha "ada149e", :git/tag "v1.8.2", :deps/root "libs/tasks"}}
        :extra-paths ["dev" "test"]
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                   "-XX:+CrashOnOutOfMemoryError"
                   "-Dbiff.env.BIFF_PROFILE=dev"
                   ;; "-javaagent:opentelemetry-javaagent.jar"
                   ;; "-Dotel.resource.attributes=service.name=counter-service"
                   ;; "-Dotel.metrics.exporter=none"
                   ;; "-Dotel.logs.exporter=none"
                   ]
        :main-opts ["-m" "com.biffweb.task-runner" "tasks/tasks"]}

  :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
           :jvm-opts   ["-XX:-OmitStackTraceInFastThrow"
                        "-Xmx12g"]
           :main-opts  ["-m" "kaocha.runner"]}

  :prod {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"
                    "-Dbiff.env.BIFF_PROFILE=prod"
                    ;; "-javaagent:opentelemetry-javaagent.jar"
                    ;; "-Dotel.resource.attributes=service.name=counter-service"
                    ;; "-Dotel.metrics.exporter=none"
                    ;; "-Dotel.logs.exporter=none"
                    ]
         :main-opts ["-m" "lab"]}}}
